body {
    font-family: "PT Sans", sans-serif;
    background: linear-gradient(90deg, #46A098 0%, #54A654 100%);
    color: #FFFFFF;
   
}

/* Helper Classes */

.flex-container {
    display: flex;
    justify-content: space-between;
}
.inner-container {
    max-width: 20rem;
    margin: 0 auto;
    
    
   
} 
/* *************** header & nav ****************** */
/* Step: 1 Style the default/showing state. Starting with the mobile view, style the layout and links for how they will look when visible */
 
header {
    background-color: #9846A0;
    padding: 1rem;
    height: 5rem;
    

}

header a {
    color: #FFFFFF;
    text-decoration: none;
    /* allows the clickable area to take up the full width and height of the li */
    display: block;
    text-transform: uppercase;
   
    

}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}
.order > img {
    order: 2;
}

.order > nav {
    order: 1;
}
 
.menu a:hover,
.menu a:active {
    border-radius: 0.3125rem;
    background: #A258A9;
    
}

.toggle-btn {
    background: #9846A0;
    border: none;
    outline: none;
}
.toggle-btn:hover {
    cursor: pointer;
}

.menu li {
    /* the extra space from the additional line height, makes this a larger area and vertically centers the text */
    line-height: 2.5rem;
    text-align: center;
    border-top: .0625rem solid #CECBCB;
    border-bottom: .0625rem solid #CECBCB;
    line-height: 3.5rem;
    font-size: 1.125rem;

}

/* Step 2: Now let's hide the menu. Once it's hidden this is the default load stage. If using display: none; - that property cannot be transitioned. */

header nav {
      /* style this for how it will look overlapped the main content */
    /* this element does not have a parent container that is positioned relative, therefore it's positioned in relationship to the browser screen */
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100vw;
    background-color: #9846A0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    /* padding-bottom: 2.56rem; */
    
}
/* Step 3: Create a special class that will show the menu. This class name exists only in the CSS file for now. Next the javascript will add this class to the nav element for us. Let's go and do that in the main.js file */
.show-nav {
    max-height: 100vh;
    
} 
/* ************************* section ****************** */

section p {
    color: #FFFFFF;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    
}

span {
    color: #fff;
    font-weight: 700;
    user-select: none;
    font-size: 2.5rem;
    line-height: 2.5rem;
    
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
    
}

.btn {
    width: 15.0625rem;
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    background: #9846A0;
    padding: 0.75rem 1.5rem ;
    margin-left: 1rem;
}
.btn:hover,
.btn:active {
    background-color: #793880;
}






/* Step 4: add a media query and show the nav by default (hide the toggle button) and style it as a horizontal nav */

/* Media Query */  
@media screen and (min-width: 48.75rem) {
   .inner-container {
        max-width: 48.75rem;
        margin: 0 auto;
       
    }
    .toggle-btn {
        display: none;
    }
    header nav {
        position: static;
        /* return nav to html from position absoulte */
        width: auto;
        max-height: unset;
        overflow: visible;
    }
    .menu,
    header .inner-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        
    }
    header {
        height: 7.9375rem;
    }
    .menu a:hover,
    .menu a:active {
        background-color: unset;
        border-radius: 0.3125rem;
        background: #A258A9;
    }
    .order > img,
    .order > nav {
        order: unset;
    }
    .order > img:first-of-type {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .order > img:last-child {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    header ul.menu {
        position: absolute;
        top: 4rem;
        display: flex;
        justify-content: space-around;
        width: 100%;    
    }
    .menu li {
        border: none;
    }
    
    section h1 {
        width: 30.5rem;
    }
    section p {
        width: 30.5rem;
    }



}    